
                <div class="m-2 mt-4">
                    <p>
                        <a class="btn btn-primary w-100 flex justify-center items-center gap-2" data-bs-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133V2Zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6v-2.55Zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v5.417Zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267v2.55ZM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982Zm7 4.401-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z"/>
                              </svg>
                            <span class="ps-2">watch Deploy tutorial</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
                              </svg>
                        </a>
                    </p>
                </div>
                  
                    
                    </ul>
                </div>
                
                
            ©  <script type="text/JavaScript">
                var theDate=new Date() 
                    document.write(theDate.getFullYear()) 
            </script> Copyright :
                <a class="bg-clip-text text-[16px] text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-bold tracking-wide px-1" href="https://t.me/">File Store</a>
                
                All right reserved
            </div>   
        </footer>


    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        var div = document.getElementById('myDiv');
        var text = div.textContent;

        if(text.length > 60){
            div.textContent = text.slice(0, 60)+"....";
        }

    </script>
    
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
            'play-large',
            'rewind','play', 
            'fast-forward', 
            'progress', 
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',
            'download',
            'fullscreen'
        ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

    </script>
    <!-- iterate animation -->




    <!-- disabling right click -->
    <script>
        document.addEventListener("contextmenu", function (e) {
        e.preventDefault();
    });
    document.addEventListener('keydown', function (e) {
        if (
            e.key === 'F12' ||
            (e.ctrlKey && e.shiftKey && e.key === 'I') ||
            (e.ctrlKey && e.key === 'u') ||
            e.ctrlKey ||
            e.shiftKey ||
            e.altKey
        ) {
            e.preventDefault();
        }
    });
    </script>
    
    
    
    <script>
        const videolink = window.location.href;
        const  lazyLink = videolink.replace("/watch/", "/");

        function vlc_player() {
            const openLazyLink = lazyLink;
            const openVlc = `vlc://${openLazyLink}`;
            window.location.href = openVlc;
        }
	    
	function mx_player() {
            const openLazyLink = lazyLink;
            const openMx = `intent:${openLazyLink}#Intent;package=com.mxtech.videoplayer.ad;end`;
            window.location.href = openMx;
        }
        
	function playit_player() {
    	const openLazyLink = lazyLink;
    	const openPlayit = `playit://playerv2/video?url=${openLazyLink}`;
   	 window.location.href = openPlayit;
	}
	    
	function s_player() {
            const openLazyLink = lazyLink;
            const openSplayer = `intent:${openLazyLink}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end`;
            window.location.href = openSplayer;
        }
	    
	function km_player() {
           const openLazyLink = lazyLink;
           const openKmplayer = `intent:${openLazyLink}#Intent;package=com.kmplayer;end`;
           window.location.href = openKmplayer;
        }
        
	function hd_player() {
           const openLazyLink = lazyLink;
           const openHDplayer = `intent:${openLazyLink}#Intent;package=uplayer.video.player;end`;
           window.location.href = openHDplayer;
        }
	    
        function lazyDownload() {
            const openLazyLink = lazyLink;
            window.location.href = openLazyLink;
        }

    </script>


</body>
</html>

<!--  Don't Remove Credit  Subscribe YouTube Channel For Amazing Bot  Ask Doubt on telegram  -->

